/** Hash Configs **/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/* DM Sans Font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


:root {

  /** Font **/
  --font1: ;
  --font2: ;
  --font3: ;
  --font4: ;

  --fontSize1: ;
  --fontSize2: ;
  --fontSize3: ;
  --fontSize4: ;
  --fontSize5: ;
  --fontSize6: ;

  /** Colors **/
  --color1: #F5476B;
  --color2: #100F0F;
  --color3: #161414;
  --color4: #414044;
  --color5: white;
  --color6: #FFC7D3;
  --color7: #FFF0F3;
  --color8: #18181A;
  --color9: #FFC5D1;

  --xs: 1%;
  --sm: 2.5%;
  --md: 5%;
  --lg: 7.5%;
  --xl: 10%;

  --px-xs: 1%;
  --px-sm: 2.5%;
  --px-md: 5%;
  --px-lg: 7.5%;
  --px-xl: 10%;


}

/** Hash Configs Ends **/

/*** 
====================================================================
	Text - START
====================================================================
***/

body {
  font-family: 'DM Sans';
  font-size: var();
  color: var();
  margin: auto;
  background-color: #ffffff;
}

h1 {
  font-size: 5.8rem;
  /* color: var(--color2); */
  font-weight: 700;
  line-height: 66px;
  letter-spacing: 0px;
}

h2 {
  font-family: 'DM sans';
  font-size: 4rem;
  /* color: var(--color2); */
  font-weight: 700;
  line-height: 4.8rem;
  letter-spacing: -2px;
}

h3 {
  font-size: 2.4rem;
  /* color: var(--color2); */
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  line-height: 3.4rem;
  letter-spacing: -1px;
}

h4 {
  font-family: var();
  font-size: var();
  color: var();
}

h5 {
  font-family: var();
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 2rem;
  /* color: var(--color5); */
  letter-spacing: 0%;
}

p {
  font-size: 1.8rem;
  font-family: 'DM Sans', sans-serif;
  color: var(--color4);
  font-weight: 400;
  line-height: 2.6rem;
  letter-spacing: 0px;
}


/* lg screen*/
@media (max-width: 1012px) {}

/* md screen*/
@media (max-width: 768px) {

  h1,
  .h1 {
    font-size: 6.4rem;
  }

  h2,
  .h2 {
    font-size: 3.4rem;
  }
}

/* sm screen*/
@media (max-width: 577px) {

  /** DESIGN **/
  h1,
  .h1 {
    font-size: 4.7rem;
  }

  h2,
  .h2 {
    font-size: 2.9rem;
  }

  h3,
  .h3 {
    font-size: 1.8rem;
  }

  h4,
  .h4 {
    font-size: 1.6rem;
  }

  h5,
  .h5 {
    font-size: 1.6rem;
  }
}

/*** 
====================================================================
	Text - Ends
====================================================================
***/


/*** 
====================================================================
    Links - START
====================================================================
***/
a {
  text-decoration: none;
  color: var(--color2);
  font-size: 1.8rem;
  font-weight: 400;
}

a:hover {
  color: var();
}

a:active {
  color: var();
}

a:visited {
  color: var();
}

/** Setting the <a> tag colors for header**/
header nav a {
  color: var();
  text-decoration: none;
}

header nav a:hover {
  color: var();
}

header nav a:active {
  color: var();
}

header nav a:visited {
  color: var();
}

/** Setting the <a> tag colors for footer**/
footer nav a {
  color: var();
  text-decoration: none;
}

footer nav a:hover {
  color: var();
}

footer nav a:active {
  color: var();
}

footer nav a:visited {
  color: var();
}

/*** 
====================================================================
    Links - END
====================================================================
***/

/*** 
====================================================================
    Common Styling - Start
====================================================================
***/
/*** Validation Styling ***/
/*** temp styling for reference ***/
.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: lightcoral;
}

.answer {
  cursor: pointer;
  padding: 5px;
  border: 1px solid grey;
  margin: 5px;
  display: inline-block;
}

.selected {
  background-color: blue !important;
}

/*** END ***/

/*** START ***/

/** Level1 - Single Classes  **/
.bg {
  --imgBg: url("");
  --imgBgHeight: 100vh;
  width: 100%;
  background: var(--imgBg);
  background-repeat: no-repeat;
  background-size: cover;
  height: var(--imgBgHeight);
  background-position: center;
}

/** Level2 - Double Classes **/
/** Level3 - Multi Classes **/

/*** END ***/

/*** START ***/

/** Level1 - Single Classes  **/
/** Level2 - Double Classes **/
/** Level3 - Multi Classes **/

/*** END ***/

/*** 
====================================================================
    Common Styling - END
====================================================================
***/
img {
  width: 100%;
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: unset;
}

section {
  padding: 3.5% 10%;
}

h1>span,
h2>span {
  display: block;
}

/*** 
====================================================================
    Page Animation Styling - Start
====================================================================
***/

/* Add delays for each team member */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.slide-in-left {
  opacity: 0;
  transform: translateX(-60px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.slide-in-left-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.slide-in-left.visible,
.slide-in-right.visible {
  transform: translateX(0);
  opacity: 1;
}

.slide-in-right {
  opacity: 0;
  transform: translateX(70px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}


.slide-in-left-img {
  width: 0;
  height: 100%;
  transform-origin: left;
}

.about #m8 img {
  height: 400px;
}

.slide-in-left-img-flex.visible,
.slide-in-left-img.visible {
  animation: revealWidth 1.5s forwards cubic-bezier(0.55, 0.085, 0.68, 0.53);
  /* Ease-in curve */
}

@keyframes revealWidth {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.slide-in-left-img-flex {
  width: 0;
  height: 390px;
  transform-origin: left;
}

.slide-in-left-img-flex img {
  width: 100%;
  height: 390px;
  object-fit: cover;
  object-position: left center;
}

.show-up-slow {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.show-up {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.6s ease;
}

.show-up.visible,
.show-up-slow.visible {
  opacity: 1;
  transform: translateY(0px);
}

header {
  animation: slideDown 0.8s ease-out 0.3s forwards;
  /* Adds a 0.3s delay before sliding */
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
    /* Starts invisible */
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    /* Fades in while sliding */
  }
}

/*** 
====================================================================
    Page Styling - Start
====================================================================
***/

/*** START ***/

/** Level1 - Single Classes  **/


@font-face {
  font-family: 'Aeonik';
  src: url('fonts/Aeonik-Regular.woff2') format('woff2'),
    url('fonts/Aeonik-Regular.woff') format('woff'),
    url('fonts/Aeonik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.navbar {
  font-family: 'DM Sans', sans-serif;
  padding: 1.5% 6%;
}

/* logo-container */
#h1 .n0-i1 {
  width: 40%;
}

.nav-button {
  font-size: 1.6rem;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  color: var(--color5);
  background-color: var(--color1);
}

button:hover {
  cursor: pointer;
}

/* ====================================== Home Page Style ====================================== */
.home section#m1 {
  padding: 0px;
}

.home #m1 h1 {
  font-weight: 400;
}

.heading-coloured {
  color: var(--color1);
  font-weight: 700;
}

/* Hero Image */
.home #m1 .n0-i2 img {
  display: block;
  width: 90%;
}

.home #m1 .n0-i2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to top, #F5476B, transparent);
}

.home #m2 {
  background-color: var(--color1);
  padding-bottom: 8%;
}

.home #m2 .n0-i1,
.about #m2 .simpleGrid {
  width: 80%;
}

.para-1 {
  font-size: 3rem;
  color: var(--color5);
  font-weight: 400;
  line-height: 4.2rem;
}

.home #m2 .n0-i2 {
  top: 70%;
}

.home #m2 .n0-i2 img {
  border-radius: 20px;
}

.home #m3 {
  margin-top: 16.5%;
}

.home #m3 .n0-i1 {
  width: 80%;
}

.home #m3 .n0-i1 p {
  color: #18181A;
}

.para-3 {
  font-size: 1.6rem;
  color: #414044;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0px;
}

hr {
  border: 0;
  border-top: 0.75px solid var(--color6);
}

.agh-card {
  background-color: #FD2C5B;
}

.tdclass-card {
  background-color: #FFB617;
}

.twb-card {
  background-color: #FFC5D1;
}

.techhub-card {
  background-color: #EBF5FF;
}

.cards {
  border-radius: 20px;
}

.home #m5 .n0-i2 .n1-i1 h3,
.home #m5 .n0-i2 .n1-i1 p {
  color: var(--color5);
}

.home #m6 .n0-i2 {
  border-left: 0.75px solid var(--color6);
}

.home #m7 .achievements {
  background-image: url('../img/girls-with-certificates.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.home #m7 .achievements h1 {
  color: var(--color5);
  font-weight: 700;
}

.home #m7 .achievements p {
  color: var(--color5);
  background-color: var(--color1);
  padding: 0 10px;
}

.home #m8 {
  padding: 3.5% 0% 3.5% 6%;
}

/* Slider container */
#slider {
  display: block;
  position: relative;
  overflow-x: hidden;
}

.story-card {
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px gray;
  transition: transform 0.5s ease-in-out;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  transition: left 0.7s ease;
  box-sizing: border-box;
}

/* Optional spacing between cards */
.story-card:not(:last-child) {
  margin-right: 20px;
  /* matches cardGap */
}

.home #m8 .prev-btn i,
.home #m8 .next-btn i {
  font-size: 3rem;
  padding: 3px;
  background-color: #FFDAE2;
  color: #F5476B;
}

.home #m9 .n1-i1 img,
.home #m9 .n1-i2 img {
  height: fit-content;
}

.tech-accessibility-banner {
  background-color: #F5476B;
  border-radius: 10px;
}

.tech-accessibility-banner .n0-i1 {
  align-content: center;
}

.tech-accessibility-banner h2,
.tech-accessibility-banner p {
  color: #FFFFFF;
}

.tech-accessibility-banner .heading-coloured2 {
  color: #FFD2DD;
}

.tech-accessibility-banner img {
  border-radius: 0 10px 10px 0;
}

button {
  font-size: 1.6rem;
  font-family: 'DM Sans';
  font-weight: 400;
  line-height: 16px;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  color: #F5476B;
}

footer {
  background-color: #F5476B;
  margin-top: 3.5%;
}

#f1 h2,
#f1 p,
#f1 a,
#f2 p {
  color: #FFFFFF;
}

#f1 {
  --px-xl: 15%;
}

#f1 a {
  line-height: 3rem;
}

#f1 p.heading-coloured3 {
  color: #FEACBD;
  font-weight: 600;
}

section#f2 {
  padding: 1.5% 6%;
}

/* ====================================== About Page Style ====================================== */
.about #m1 {
  padding-bottom: unset;
  background-color: var(--color1);
  z-index: 1;
}

.about #m1 h1 {
  line-height: 1%;
}


.about #m1 .n0-i2 {
  top: 34%;
}

.about #m2 .para-1 {
  color: var(--color8);
  padding: 0 4%;
  line-height: 3.5rem;
}

.about #m2 {
  --px-xl: 20%;
}

.about #m9 {
  --px-xl: 13%;
}

.about #m3 .n3-i2 {
  background-color: var(--color1);
  height: fit-content;
  border-radius: 12px;
}

.about #m3 .n0-i2,
.about #m1 h1,
.about #m3 p,
.about #m7 .simpleGrid {
  color: var(--color5);
}

.about #m3 p {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 200;
  font-family: 'DM Sans';
}

.about #m5 .para-3 {
  font-size: 1.8rem;
  line-height: 2.3rem;
}

.about #m4,
.about #m8,
.techies #m2 {
  padding: 3.5% 0%;
}

.about #m4 .n0-i1,
.about #m8 .n0-i1,
.about #m8 .n1-i2,
.techies #m2 .scroll-img {

  padding-right: 10%;
  padding-left: 10%;

}

.scroll-img {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.scroll-img .inner {
  flex: 0 0 50%;
  animation: scroll 20s linear infinite;
}

.about #m5 i {
  font-size: 3.5rem;
  color: #FFDAE2;
}

.about #m5 hr {
  margin-left: 11%;
}

.about #m6 .n1-i1 {
  border-right: 1px solid var(--color6);
}

.about #m6 .time-circle::after {
  content: "";
  position: absolute;
  top: 58%;
  right: -10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: var(--color1);
  border-radius: 50%;
}

.about #m6 .n0-i5 .n1-i1 {
  border-image: linear-gradient(to bottom, var(--color6)55%, var(--color5)50%)1;
}

.time-content,
.time-img {
  place-content: center;
}

.time-img {
  width: 40%;
}

.about #m7 .simpleGrid {
  background-image: url(../img/about-bg.png);
  background-position: center;
  border-radius: 12px;
}

.about #m7 h2 {
  font-weight: 300;
  line-height: 42px;
  letter-spacing: 0px;
  font-size: 3rem;
}

.about #m8 .n0-i2 {
  z-index: 1;
}

.about #m8 .n0-i2 p {
  font-size: 1.6rem;
  line-height: 2rem;
  padding-top: 1%;
}

.about #m8 .n0-i2 .n1-i1 {
  background-color: var(--color7);
  position: absolute;
  top: 75%;
  padding: 9% 10% 3%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* ====================================== All Girls Hackethon Page Style Start ====================================== */

.agh .navbar {
  background-color: var(--color1);
}

.agh .nav-menu a {
  color: #ffffff;
}

.agh .nav-button {
  font-size: 1.6rem;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  color: var(--color1);
  background-color: var(--color5);
}

.agh #m1 {
  background-color: var(--color1);
  padding: 0%;
  margin-bottom: 3.5%;
}

.agh #m1 .n0-i1 {
  width: 20%;
}

.agh #m1 .n0-i2 {
  width: 60%;
}

.agh #m1 .n0-i2 h1 {
  color: #ffffff;
}

.agh #m4 {
  padding: 3.5% 0%;
}

.agh #m4 .n0-i1 {
  padding: 0% 10%;
}

.agh #m4 .n0-i2 {
  z-index: 1;
}

.agh #m4 .n0-i2 .n1-i2 {
  width: 80%;
}

.agh #m4 .n0-i2 p {
  font-size: 1.6rem;
  line-height: 2rem;
  padding-top: 1%;
}

.agh #m4 .n0-i2 .n1-i1 {
  background-color: var(--color7);
  position: absolute;
  top: 50%;
  padding: 13% 10% 2% 10%;
}

.agh #m5 {
  margin-top: 13.5%;
}

.agh #m5 .simpleGrid {
  background-image: url(../img/about-bg.png);
  background-position: center;
  border-radius: 12px;
}

.agh #m5 h2 {
  color: var(--color5);
  font-weight: 300;
  line-height: 42px;
  letter-spacing: 0px;
  font-size: 3rem;
}

.edition-img-box {
  width: 50%;
}

.edition-card {
  width: 60%;
  height: 90%;
  align-content: center;
}

.edition-card button {
  color: var(--color1);
  font-weight: 700;
  background-color: #FFD3DD;
}

.edition-card {
  background-color: #FFF8FA;
  padding: 3%;
  position: absolute;
  border-radius: 10px;
}

.edition-title span {
  display: block;
}

.agh #m9 {
  background-color: #FFF8FA;
  padding-bottom: 7%;
}

.support-card {
  background-color: var(--color5);
  border-radius: 10px;
}

.support-card .n4-i2 p {
  color: var(--color1);
}

.support-card .n4-i4 li {
  color: var(--color4);
}

.support-card-btn {
  top: 2%;
}

.support-cards button {
  background-color: var(--color1);
  color: var(--color5);
}

.agh footer {
  margin-top: unset;
}

/* ====================================== All Girls Hackethon Page Style End ====================================== */

/* ====================================== Techdiva Class Page Style Start ====================================== */

.tdclass .navbar {
  background-color: #FFD16F;
}

.tdclass .nav-menu a {
  color: var(--color3);
}

.tdclass .nav-button {
  font-size: 1.6rem;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  color: var(--color5);
  background-color: var(--color1);
}

.tdclass .hero-section {
  background-color: #FFD16F;
  padding: 0%;
  margin-bottom: 3.5%;
}

.hero-section .n0-i1 {
  width: 20%;
}

.hero-section .n0-i2 {
  width: 60%;
}

.hero-section .n0-i2 h1 {
  color: var(--color1);
}

.info-section i {
  font-size: 1.8rem;
  color: var(--color1);
  line-height: unset;
}

.tdclass .experince-section {
  padding: 3.5% 0%;
}

.tdclass .experince-section .n0-i1 {
  padding: 0% 10%;
}

.tdclass .experince-section .n0-i2 {
  z-index: 1;
}

.tdclass .experince-section .n0-i2 .n1-i2 {
  width: 80%;
}

.tdclass .experince-section .n0-i2 p {
  font-size: 1.6rem;
  line-height: 2rem;
  padding-top: 1%;
}

.tdclass .experince-section .n0-i2 .n1-i1 {
  background-color: var(--color7);
  position: absolute;
  top: 50%;
  padding: 13% 10% 2% 10%;
}

.tdclass #m5 {
  margin-top: 13.5%;
}

.tdclass #m5 .simpleGrid {
  background-image: url(../img/about-bg.png);
  background-position: center;
  border-radius: 12px;
}

.tdclass #m5 h2 {
  color: var(--color5);
  font-weight: 300;
  line-height: 42px;
  letter-spacing: 0px;
  font-size: 3rem;
}

/* ====================================== Techdiva Class Page Style End ====================================== */
/* ====================================== Techies Page Style Start ====================================== */

.techies .hero-section .n0-i1 {
  width: 35%;
}

.techies .hero-section,.techies .navbar {
  background-color:var(--color9);
}

/** Level2 - Double Classes **/
/** Level3 - Multi Classes **/

/*** END ***/

/*** START ***/

/** Level1 - Single Classes  **/
/** Level2 - Double Classes **/
/** Level3 - Multi Classes **/

/*** END ***/

/*** 
====================================================================
    Page Styling - END
====================================================================
***/

/*** 
====================================================================
   Responsive - START
====================================================================
***/

/* large laptop screen*/
@media (min-width: 1440px) {

  .nav-menu h3 {
    font-size: 2.4rem;
  }

  .heading,
  .heading-coloured {
    font-size: 7.8rem;
  }
}

/* small laptop screen*/
@media (max-width: 1012px) {}

/* tablet screen*/
@media (max-width: 768px) {}

/* mobile screen*/
@media (max-width: 577px) {}


/*** 
====================================================================
   Responsive - END
====================================================================
***/